// don't set width
.subsection__image1 {
    top: 3em;
    right: 7em;
    height: auto;
    margin-left: auto;

    span {
        margin-top: 0.5em;
    }
}

.subsection__hover {
    span {
        display: inline-block;
        transition: all 0.3s ease-in-out;
    }
    &:hover { 
        cursor: pointer;
        img {
            opacity: 60%;
            transform: scale(1.5);
            transition: all 0.5s ease-in-out;
        }
        span {
            transform: translate(-1em, -5em);
        }
    }
}

.subsection__image-container {
    overflow: hidden;
    margin: 0 1em;
}

