.landing-page-section__container {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    transition: opacity 1s ease-in-out;

    a {
        text-decoration: none;
        color: inherit;
    }
    &:hover {
        animation-play-state: paused;
        cursor: pointer;
      }
}

.landing-page-section__container:nth-of-type(5n+1) p {
    animation-delay: -8s;
}

.landing-page-section__container:nth-of-type(5n+2) p {
    animation-delay: -10s;
}

.landing-page-section__container:nth-of-type(5n+3) p {
    animation-delay: -7s;
}

.landing-page-section__container:nth-of-type(5n+4) p {
    animation-delay: -13s;
}

.landing-page-section__text {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transform: rotate(180deg);
    height: 100vh;
    font-weight: normal;
    line-height: 1;
    text-transform: uppercase;
    

    p {
        padding-left: 2.4vw;
        white-space: nowrap;
        writing-mode: vertical-lr;
        text-orientation: mixed;
        animation: 90s bookTicker linear infinite;
        animation-play-state: running;
        margin: 0;
        padding: 0;
        &:hover {
            animation-play-state: paused;
        }
        }
}

@keyframes bookTicker {
	from {
		transform: translate(0, 100vh);
	}
	to {
		transform: translate(0, -100%);
	}
}

@media only screen and (max-width: 800px) {

    .landing-page-section__container {
        width: unset !important;
        min-height: 10vh;
    }
    .landing-page-section__text {
        transform: unset;
        flex-grow: 0;
        align-items: center;
        height: 100%;

        p {
            writing-mode: unset;
            transform: translate(100%);
            margin-left: auto;
            animation: bookTicker 10s infinite linear;
        }
    }

    @keyframes bookTicker {
        from { transform: translateX(120%); }
        to { transform: translateX(-120%); }
    }
  }