.menu-bar__container {
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.menu-bar__hamburger-lines {
    cursor: pointer;
    margin-top: 2em;
    margin: auto;
    width: 40%;
    height: 3em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;

    .line {
        width: 5px;
        margin: auto;
        margin-top: 0;
        height: 100%;
        background-color: black;
    }

    .line2 {
        height: 65%;
    }

    .line3 {
        height: 90%;
    }
}

.menu-bar__content {
    display: block;
    position: relative;
    width: auto;
    height: auto;
    margin: 0 1em;
    max-width: calc(7em * 1.5);
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu-bar__content-container {
    max-height: calc(100vh - 200px);
    flex-direction: row;
    justify-content: center;
    margin: auto;
    margin-top: 2em;
    font-family: 'Source Code Pro', monospace;;
}

@media only screen and (max-width: 800px) {
    .menu-bar__hamburger-lines {
        margin: 0.75em auto 0 auto;
        width: 80%;
        flex-direction: column;
        justify-content:end;

        .line {
            width: 100%;
            margin-bottom: 0.25em;
            height: 5px;
        }
    }

    .menu-bar__content {
        display: none;
    }

    .menu-bar__content-container {
        width: 3em;
    }
  }