.subsection__container {
    transition: width 1s ease-in-out;
    flex-grow: 0;
    flex-shrink: 0;
}

.subsection__close-button {
    width:2em;
    top: 2em;
    right: 2em;
    position: relative;
    margin-left: auto;
}

@media only screen and (max-width: 800px) {

}