.aboutPage__container {
    font-family: "Space Grotesk", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // min-height: 100vh;
    align-items: stretch;
    // overflow: hidden;
    background-color: black;
    margin-bottom: 1em;
    // height: 100vh;
}


.aboutPage__containerSections {
    display: flex;
    min-width: 0;
    flex-direction: row;
    justify-content: flex-start;
    height: auto;
    align-items: stretch;
    flex: 1;
}

.aboutPage__text {
    color: white;
    margin: 0 1em;
    font-size: 1.9em;
    box-sizing: border-box;
}

.aboutPage__portraits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 1em;
    box-sizing: border-box;
}

@media only screen and (max-width: 800px) {
    .aboutPage__text {
        margin: 0 0.2em;
        font-size: 1.6em;
        box-sizing: border-box;
    }

    .aboutPage__portraits {
        margin: 0;
    }
}

