
.aboutPage__containerSections {
    display: flex;
    min-width: 0;
    flex-direction: row;
    justify-content: flex-start;
    height: auto;
}

.aboutPage__description {
    :nth-child(1) {
        margin-top: 0;
    }
    margin-right: 0.5em;
}
@media only screen and (max-width: 800px) {
    .aboutPage__containerSections {
        flex-direction: column;
    }
}

