.asset {
    // transition: 1.2s; not sure what this is
    object-fit: cover;
    display: block;
    //overflow: hidden;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;

    a {
        text-decoration: underline;
        color: white;

        &:hover {
            text-decoration: underline;
        }
    }
}

.asset__largeImageNav {
    color: white;
    user-select: none;
    &:hover {
        cursor: -webkit-image-set(url(/white-cursor.png) 1x, url(/white-cursor.png) 2x) 0 0,
        pointer !important;
    }
}

.asset__dialogTitle {
    padding: 0 !important;
}

@media only screen and (max-width: 800px) {
    .asset {
        font-size: 0.8em;
    }
}
