.block__container {
    color: white;
    display: flex;
    justify-content: center;
    align-items:center;
    font-family: 'Bebas Neue', sans-serif;
}

.block__image_container_hover_opacity {
    &:hover {
        opacity: 0.7;
    }

}
