.landingPage__container {
    font-family: 'Bodoni Moda', serif;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    min-height: 100vh;
    align-items: stretch;
    overflow: hidden;
}

.landingPage__containerSections {
    display: flex;
    min-width: 0;
    flex-direction: row;
    justify-content: flex-start;
    height: auto;
    align-items: stretch;
    flex: 1;
}

@media only screen and (max-width: 800px) {
    .landingPage__containerSections {
        flex-direction: column;
        width: 100%;
        height: unset;
    }

    .landing-page__container {
        min-width: 100vw;
        height: 100vh;
    }
}
