@import "./common.less";

.menuBarContent__about {
  transform: rotate(180deg);
  writing-mode: vertical-lr;
  text-orientation: mixed;
  margin: auto;
  font-size: 13em;
}

.menuBarContent__container {
  padding-right: @menuWidth;
  padding-left: 2em;
}

.menuBarContent__links {
  flex: 1;
  font-size: 5em;
}

.menuBarContent__child-links {
  font-size: 0.5em;
}
