.previewContent__subsectionDate {
    font-size: 1.5em;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    height: 50%;
}

.previewContent__rotate {
    display: block;
    transform: rotate(180deg);
}
