.previewRightImageContent__container {
    display: flex;
    height: 100vh;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    overflow: hidden; // prevent extra spacing!
}

.previewRightImageContent__imagesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25em;
    width: 60%;
}

.previewRightImageContent__image {
    min-height: 0;
    width: 80%;
}

.previewRightImageContent__subText.previewRightImageContent__subText {
    font-size: 1em;
    align-self: start;
    text-align: end;
    margin-top: 3em;
    font-family: 'Cabin', sans-serif;
    font-size: 0.7em;
}

.previewRightImageContent__subtext {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 1px;
    font-size: 1.5em;
}

.previewRightImageContent__text {
    line-height: 0.9em;
}

.previewRightImageContent__textContainer {
    display: flex;
}
