.projectPage__container {
    margin: 4em 10%;
    display: flex;
    ::selection {
        background: #ffb7b7; /* WebKit/Blink Browsers */
    }
    cursor: -webkit-image-set(url(/cursor.png) 1x, url(/cursor.png) 2x) 0 0,
    pointer;
}

.projectPage__grain {
    display: block;
    height: 100%;
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    width: 100%;
    z-index: 0;
    background: url(/grain.png) 0 0/150px auto;
}

.projectPage__title, .projectPage__homeCTA {
    align-self: flex-start;
    flex: 0 0 60px;

    > div {
        position: fixed;
    }
}
.projectPage__quilted.projectPage__quilted {
    overflow-y: visible !important;

    margin: 0;
    // column-gap: 5em !important;
    // grid-auto-rows: 80vh;
    // min-height: 100vh;

    li {
        // max-height: 75vh !important; // row height
        height: 0;
        overflow: visible;
    }
}

.projectPage__title {
    margin: 0;
}

.projectPage__homeCTA {
    flex: 0 0 10em;
    > a {
        position: fixed;
        &:hover {
            text-decoration: underline;
            text-decoration-thickness: 3px;
        }
    text-decoration: none;

    color: black;
    }

}


.projectPage__parallax {
    padding: 3em 0;
}

.projectPage__listItem {
    margin: 3em 0;
}

@media only screen and (max-width: 800px) {
    .projectPage__quilted.projectPage__quilted {
        li {
            overflow: visible;
        }
        padding: 0 5%;
        column-gap: 0.5em !important;
    }

    .projectPage__homeCTA {
        flex: 0 0 3.2em;
        .projectPage__homeText {
            padding-left: 0.25em;
            font-size: 3em !important;
        }
    }

    .projectPage__title {
        flex: 0 0 1em;
        .projectPage__projectText {
            font-size: 1em !important;
        }
    }
    .projectPage__container {
        margin: 4em 5%;
    }

}
